body {background-color: black;}
footer{
    width: 100%;
    bottom:0;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #333333;}
footer ul{ display: flex;flex-direction: column;justify-content: center;}
nav{background-color: #333333;}
nav li {padding-left: 20px; display: flex;justify-content: center;}
.card {padding: 10px;}
.card:hover , .imglink:hover{opacity: 0.8;}
#tableproduct {display: flex;justify-content: space-around;padding-top: 30px;padding-bottom: 30px;}
.articleimg{width: 90%;}
.textcenter{text-align: center;}
.video{display: none;}
.videoMOBILE{ display: flex; flex-direction: column;align-items: center;padding-bottom: 40px;}
.bg{background-color: rgb(39, 38, 38);}
.bg2{background-color: rgb(255, 255, 255);display: flex; flex-direction: column;}
.txtblack{color: black; line-height: 2em; font-size: large;}
.logopaiment{display: flex; flex-direction: row; justify-content: center; background-color: rgb(207, 203, 203);}
.mentionlegal{padding: 10%; color: white;}
@media screen and (min-width: 1024px) {
    footer ul{ display: flex;flex-direction: row;justify-content: space-evenly;}
    #article {display: flex;flex-direction: row; justify-content: center;align-items: center;padding-top: 20px;}
    .video{display: flex;flex-direction: row;padding:10px}
    .videoMOBILE{display: none;}
    .video{display: flex; flex-direction: column;align-items: center;padding-bottom: 30px;}
    .textvideo{margin-bottom: -10px;padding-top: 20px;}
    .textcenter{text-align: center;margin-top: -30px;}
    .temoignage{margin-left: 15%; margin-right: 15%; width: 80%;}
    .logopaiment{display: flex; flex-direction: row; justify-content: center; background-color: rgb(255, 255, 255); align-items: center;}
    .nameproduct{font-size: xx-large; text-align: center; padding-top: 50px; padding-bottom: 130px; padding-left: 3%; line-height: 4em; width: 50%;}
    .info{font-size:large;padding-left: 10%; padding-right: 7%;  line-height: 2em;}
    .textemballagecadeaux{padding-left: 5%;}
    #emballagecadeaux{display: flex;flex-direction: row; align-items: center;padding-top: 50px; padding-bottom: 50px;}
    .panier{padding: 5%;}
}
@media screen and (max-width: 1024px) {
    .nameproduct{font-size: xx-large; padding: 5%; width: 100%; text-align: center; display: flex; flex-direction: column;align-content: center;}
    .info{display: flex; flex-direction: column;text-align: center ;padding-bottom: 50px; padding: 5%;}
    .imgcadeaux{width: 100%; padding: 0px;}
    .logopaiment{display: flex; width: 100%;background-color: rgb(255, 255, 255);}
    #emballagecadeaux{padding: 0px;}
    #listedesproduit{display: flex; flex-direction: column; align-items: center; padding: 10%;}
    #tableproduct{display: none;}
    .panier{padding: 10%;}
}

