body {background-color: black;}
footer{
    width: 100%;
    bottom:0;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #333333;}
footer ul{ display: flex;flex-direction: column;justify-content: center;}
nav{background-color: #333333;}
nav li {padding-left: 20px; display: flex;justify-content: center;}
.card {padding: 10px;}
.card:hover , .imglink:hover{opacity: 0.8;}
#tableproduct {display: flex;justify-content: space-around;padding-top: 30px;padding-bottom: 30px;}
.articleimg{width: 90%;}
.textcenter{text-align: center;}
.video{display: none;}
.videoMOBILE{ display: flex; flex-direction: column;align-items: center;}
@media screen and (min-width: 1024px) {
    footer ul{ display: flex;flex-direction: row;justify-content: space-evenly;}
    #article {display: flex;flex-direction: row; justify-content: center;align-items: center;padding-top: 20px;}
    .video{display: flex;flex-direction: row;padding:10px}
    .videoMOBILE{display: none;}
    .textcenter{text-align: center;margin-top: -30px;}
}